<div class="container axisJS">
  <div class="row">
    <div class="col-sm-12">
      <h1>Edit <i class="fa fa-folder-open-o"></i></h1>
      <!-- Display item list if no URL argument -->
      <div class="col-sm-12" ng-show="!itemId && charts">
        <table class="item-table table table-hover">
          <thead>
            <tr>
              <th></th>
              <th>name</th>
              <th>modified</th>
              <th>remove</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="(index, chart) in charts | orderBy: '-timestamp'">
              <td><button class="btn btn-success btn-xs" ng-click="editChart(chart._id)">Edit <i class="fa fa-pencil-square"></i></button></td>
              <td>{{chart.title}}</td>
              <td>{{chart.timestamp}}</td>
              <td><button class="btn btn-danger btn-xs" ng-click="deleteChart(chart._id, index)"><i class="fa fa-times"></i></button></td>
            </tr>
            </tbody>
        </table>
      </div>

    <!-- Display axisJS if argument given -->
    <div ng-show="!!itemId">
      <form name="filenameForm" class="form-group" ng-class="{'has-error': filenameForm.itemTitle.$invalid, 'has-error': filenameForm.itemTitle.$invalid }">
        <input
          class="chart-title"
          type="text"
          ng-model="itemTitle"
          name="itemTitle"
          required
          ng-class="{'form-control': filenameForm.itemTitle.$invalid}"
          uib-popover="A project name is required."
          popover-placement="bottom"
          popover-is-open="filenameForm.itemTitle.$invalid"
          popover-trigger="null"
          placeholder="Please enter a project name here"
          />
        </form>
      <iframe load-chart id="axisJS" border="0" width="100%" height="auto"></iframe>
    </div>

    </div>
  </div>
</div>
