<div ng-if="!isLoggedIn()">
  <header class="hero-unit" id="banner">
    <h1>Welcome to Axis</h1>
    <div class="container">
      <div>
        <c3-demo></c3-demo>
        <p class="lead">Create interactive charts with <strong>AxisJS</strong>...</p>
      </div>
      <div>
        <p class="lead">...and put them in Deck or somewhere else cool!</p>
      </div>
    </div>
  </header>
</div>

<div ng-if="isLoggedIn()">
  <header class="hero-unit" id="banner">
    <div class="container">
      <h1>Welcome to Axis!</h1>
      <div class="row options">
        <div class="new col-xs-6"><a ng-href="/new"><i class="fa-file-image-o fa fa-5x"></i><br />New</a></div>
        <div class="edit col-xs-6"><a ng-href="/edit"><i class="fa-folder-open-o fa fa-5x"></i><br />Edit</a></div>
      </div>
    </div>
  </header>
</div>

<footer class="footer">
  <div class="container">
    <p>Axis Server 1.0.0 |
      <a href="https://twitter.com/aendrew">Ændrew Rininsland (@aendrew)</a>,
      <a href="https://medium.com/digital-times/">Times Digital Development</a> |
       <a href="https://github.com/times/axis-server/issues?state=open">Issues</a>
    </p>
  </div>
</footer>
